.*
Downloads
Documents
Desktop
Videos
Almost\ Human
Calibre\ Library
desura
eagle
*.zip
*.gz
git
intrusion2
irclogs
Music
my\ games
News
Newsflash
Pictures
PlayOnLinux\'s\ virtual\ drives
Sheena
sketchbook
workspace
VirtualBox\ VMs
