[submodule ".vim_runtime"]
	path = .vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "unnethack"]
	path = unnethack
	url = https://github.com/UnNetHack/UnNetHack.git
[submodule "Bash-Snippets"]
	path = Bash-Snippets
	url = https://github.com/alexanderepstein/Bash-Snippets.git
